<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Formularios Alta de Turno</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body>
	<div class="Titulo">Alta de Turno</div>
	<div class="container">
		<div class="row mt-3">
			<div class="col">
				<form action="">
					<div class="form-group row">
						<div class="col-12 col-md-6 mb-3">
							<label for="obraSocial">Fecha</label>
							<select name="fecha" id="fecha" class="form-control">
								<option value="fecha1">fecha1</option>
								<option value="fecha2">fecha2</option>
								<option value="fecha3">fecha3</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-12 col-md-6 mb-3">
							<label for="paciente">Paciente</label>
							<select name="paciente" id="paciente" class="form-control">
								<option value="paciente1">paciente1</option>
								<option value="paciente2">paciente2</option>
								<option value="paciente3">paciente3</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-12 col-md-6 mb-3">
							<label for="medico">Médico</label>
							<select name="medico" id="medico" class="form-control">
								<option value="medico1">medico1</option>
								<option value="medico2">medico2</option>
								<option value="medico3">medico3</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-12 text-center">
							<div class="row justify-content-center">
								<div class="col-12 col-sm-9 col-md-4">
									<button class="btn btn-primary btn-block" type="submit">Dar de alta turno</button>
								</div>
								<div class="col-12 col-sm-9 col-md-2">
									<button class="btn btn-danger btn-block" type="submit">Cancelar</button>
								</div>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<!-- <script src="../js/bootstrap.min.js"></script> -->
</body>
</html>
