<div class="container">
    <div class="row">
        <div class="col">

            <div class="card-group">
                <div class="card">
                    <div class="foto">
                        <img src="img/pacientes.png" class="card-image-top img-fluid" alt="">
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">Pacientes</h1>
                        <input class="btn btn-primary btn-block" type="button" name="cancel" value="Ir" onClick="window.location='/pacientes';" />
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Alta/Baja/Modificación/Listado</small>
                    </div>
                </div>

                <div class="card">
                    <div class="foto">
                        <img src="img/medico.png" class="card-image-top img-fluid" alt="">
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">Profesionales Médicos</h1>
                        <input class="btn btn-primary btn-block" type="button" name="cancel" value="Ir" onClick="window.location='/profesionals';" />
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Alta/Baja/Modificación/Listado</small>
                    </div>
                </div>

                <div class="card">
                    <div class="foto">
                        <img src="img/agenda2.png" class="card-image-top img-fluid" alt="">
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">Agenda</h1>
                        <input class="btn btn-primary btn-block" type="button" name="cancel" value="Ir" onClick="window.location='/turnoes';" />
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Alta/Baja/Modificación/Listado</small>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>