
    <div class="row mt-3">
        <div class="col">
            <div class="form-group-titulos row justify-content-around">
                <div class="col-4">Pacientes</div>
                <div class="col-4">Profesionales Médicos</div>
                <div class="col-4">Agenda</div>
            </div>

            <div class="form-group-fotos row">
                <div class="col-4"><img src="img/pacientes.png">@Html.ActionLink("obrasociales", "Index", "obrasocials")</div>
                <div class="col-4"><img src="img/medico.png"></div>
                <div class="col-4"><img src="img/agenda2.png"></div>
            </div>

        </div>
    </div>